<% include ../includes/head %>
<h1>个人推荐</h1>
<div class='tj'>
	<ul>
		
		<%for(var i=0;i<movie.length;i++){ %>
		<li><img src="<%=movie[i].img %>"><h3><%=movie[i].name%></h3><span><%=movie[i].size %>万<%=movie[i].author %>作者</span></li>
		<% } %>
	</ul>
</div>

<% include ../includes/bottom %>